@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: 'Work Sans', 'Helvetica', 'Futura', 'Arial', sans-serif;
  display: flex;
  font-size: 16pt;
}

.name {
  font-weight: 600;
  font-size: 32pt;
  margin-top: 0;
  margin-bottom: 0;
}

#ry-ligature {
  letter-spacing: -2pt;
}

.sidebar-list {
  margin-top: 18pt;
  list-style: none;
  padding: 0;
}

.show-clickable {
  cursor: pointer;
}

.show-clickable:disabled {
  cursor: none;
}

.fades:hover {
  opacity: 50%;
  animation: fadeout 100ms ease-in-out 0s 1 both;
}

@keyframes fadeout {
  0% { opacity: 100%; }
  100% { opacity: 50%; }
}

#root {
  display: flex;
}

@keyframes fadein {
  0% { opacity: 0; }
  100% { opacity: 100%; }
}

.appear-anim {
  animation: 200ms ease-in 0ms fadein;
}

@media (width >= 750px) {
  #root {
    margin-top: 85pt;
    max-width: 720px;
    min-width: 720px;
    flex-direction: row;
  }

  #content-hook {
    margin-left: 70pt;
  }

  .sidebar-list {
    flex-direction: row;
  }

  body {
    align-items: center;
    justify-content: center;
  }

  img.project-image {
    width: 447px;
  }
}

/* at this width, optimise for touch */
@media (width < 750px) {
    body {
      justify-content: left;
    }

    #root {
        margin-top: 60pt;
        margin-right: 8pt;
        margin-left: 8pt;
        flex-direction: column;
        justify-content: left;
    }
    
    .sidebar-list li {
      margin-top: 4pt;
    }

    img.project-image {
      width: 100%;
    }
}

@media (prefers-color-scheme: light) {
    body {
        background-color: whitesmoke;
        color: black;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: rgb(20, 20, 20);
        color: white;
    }

    .proj-item {
      border-color: white;
      border-style: solid;
    }
}

/* Projects grid layout */
#proj-grid-layout {
  display: flex;
  flex-direction: column;
}

.proj-item {
  border-radius: 6pt;
  border-width: 1pt;
  display: flex;
  flex-direction: column;
  margin-bottom: 10pt;
  padding: 5pt;
}

@media (prefers-color-scheme: light) {
  .proj-item {
    border-color: black;
    border-style: solid;
  }
}

.proj-item .desc {
  max-lines: 3;
  word-wrap: normal;
  margin: 0;
  margin-top: 12pt;
} 

.proj-item * {
  font-size: 12pt;
}

a {
  color: white;
}

.subheading p {
  margin-bottom: 2pt;
}

.subheading {
  margin-bottom: 10pt;
}